
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
  	<head th:replace="fragments/header :: headHeader">



 
</head>
<body>
  
  <div th:replace="fragments/header :: navForViewer">
</div>
<div>
 
</div>
</body>
</html>