 
 
@media only screen and (max-width: 600px)
 {
  .signincontainer {
    	 padding-top:2%;
  		 width:100%;
		 background-color: white;
		 
		 
  }
  
  
input[type=text] {
 
 	height:40px;	  
  }
  
  
  .navbar-custom
		{   
  		 
		 padding: 1.5%; 
		}
		
		.signinicons
		{  
		/* height:60px; */
		border-radius: 20px;
		/*  margin-right:20%; */
 		margin-right:5%;
		margin-bottom:5%; 
		}

input[type=password] {
  	height:40px;	  
  }
  
  /*  link tag makes span within it blue so to make it black i do the below */
		a span 
		{
		color:#000;
		}
		
		.socialsignincontents
		{
		 text-align:center;
		/*  margin-top:-2%; */
		
		  
		/*  padding: 10%; */
		/*  padding-left:18%;
		 padding-top:2%;
		 padding-bottom:5%;
		 margin-top:2%; */
		}
		.date
		{
		color:gray; 
		
		}
		.customsignincontents
		{ 
		 margin:0 auto;
		 width:100%
		}
		
		.border-nashi
		{
			border-color:transparent;
		}
		
		
		.border-nashi:focus 
		{
			border-color:transparent;
		 	box-shadow: 0 0 0 rgb(255, 255, 255);
		 /*to remove textbox border*/
		}


		.my-bordered-icon{
 		 text-shadow: -10px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		}
		
		#dislikeButton:hover
		{
  			color:pink;
		}
		
		#givenrose:hover
		{
		color:pink;
		}
		
 		#signinFbIcon:hover
  		{
  		 color: #3b5998
  		}
 
 		 #signinGoogleIcon:hover
  		{
  		 color: #DB4437
  		}
  		
  		
  		#navForViewer{
  		
  		color:#3c3cf4;
  		}
  		
		#CreatorsHome{
  		
/*   		background: #1D976C;  fallback for old browsers
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #93F9B9, #1D976C); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
 */
 /* this is relative because we made footer, "absolute" positioned  */
  
 /*  background-color: #FFDEE9;
background-image: linear-gradient(to right, #B5FFFC 100%, #FFDEE9 0%);
   */
  position: relative;
  height: 100%;
 
  		}
  		
  		#CreatorsNavbar
  		{	 
   			 
 			background-image: linear-gradient(to right, #B5FFFC 100%, #FFDEE9 0%);
  
  		}
  		
  
  
  /* footer fragment  */
  
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}



.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
	list-style-type: circle;    
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.tab { margin-left: 2rem; }
  #footer
  {
   /* we need the ancestor above it to be "relative" positioned, so we made "#screatorsHome" relative  */
  		bottom: 0;
 		position: absolute;
  		width:100%;
 		
   }
 html,
 body {
  height: 100%;
  width: 100%;
  
}
  
}
/* @media only screen and (min-width: 992px)  
	{ 
 	 .navbar-custom
		{   
 		 padding: 1.5%; 
		}
		
		.signinicons
		{  
		height:60px;
		border-radius: 20px;
		 margin-right:20%;
 		margin-right:5%;
		margin-bottom:5%; 
		}
		
		.signincontainer
		{
		 padding-top:2%;
		 margin:4%;
 		 width:50%;
		 
		 background-color: white; 
		}
		 link tag makes span within it blue so to make it black i do the below
		a span 
		{
		color:#000;
		}
		
		.socialsignincontents
		{
		 text-align:center;
		 margin-top:-2%;
		
		  
		 padding: 10%;
		 padding-left:18%;
		 padding-top:2%;
		 padding-bottom:5%;
		 margin-top:2%;
		}
		.date
		{
		color:gray; 
		
		}
		.customsignincontents
		{ 
		 margin:0 auto;
		 width:70%
		}
		
		.border-nashi
		{
			border-color:transparent;
		}
		
		
		.border-nashi:focus 
		{
			border-color:transparent;
		 	box-shadow: 0 0 0 rgb(255, 255, 255);
		 to remove textbox border
		}


		.my-bordered-icon{
 		 text-shadow: -10px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		}
		
		#dislikeButton:hover
		{
  			color:pink;
		}
		
		#givenrose:hover
		{
		color:pink;
		}
		
		#signinFbIcon:hover
  		{
  		 color: #3b5998
  		}
 
 		 #signinGoogleIcon:hover
  		{
  		 color: #DB4437
  		}
  		#navForViewer{
  		
  		color:#3c3cf4;
  		}
  		
  		
  		#CreatorsHome{
  		background: #1D976C;  fallback for old browsers
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #93F9B9, #1D976C); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  		}
  		
  		
  		  footer fragment 
  
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
	list-style-type: circle;    
	padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.tab { margin-left: 2rem; }
  } */
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
 	 .navbar-custom
		{   
 		 padding: 1.5%; 
		}
		
		.signinicons
		{  
		/* height:60px; */
		border-radius: 20px;
		/*  margin-right:20%; */
 		margin-right:5%;
		margin-bottom:5%; 
		}
		
		.signincontainer
		{
		 padding-top:1%;
		 margin-left:30%;
 		 width:40%;
		 
		 background-color: white; 
		}
		/*  link tag makes span within it blue so to make it black i do the below */
		a span 
		{
		color:#000;
		}
		
		.socialsignincontents
		{
		
		 text-align:center;
		/*  margin-top:-2%; */
		
		  
		/*  padding: 10%; */
		/*  padding-left:18%;
		 padding-top:2%;
		 padding-bottom:5%;
		 margin-top:2%; */
		}
		.date
		{
		color:gray; 
		
		}
		.customsignincontents
		{ 
		 margin:0 auto;
		 width:70%
		}
		
		.border-nashi
		{
			border-color:transparent;
		}
		
		
		.border-nashi:focus 
		{
			border-color:transparent;
		 	box-shadow: 0 0 0 rgb(255, 255, 255);
		 /*to remove textbox border*/
		}


		.my-bordered-icon{
 		 text-shadow: -10px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		}
		
		#dislikeButton:hover
		{
  			color:pink;
		}
		
		#givenrose:hover
		{
		color:pink;
		}
		
		 #signinFbIcon:hover
  		{
  		 color: #3b5998
  		}
 
 		 #signinGoogleIcon:hover
  		{
  		 color: #DB4437
  		}
  		
  		#navForViewer{
  		
  		background-color:#3c3cf4;
  		}
  		
  		#CreatorsHome{
  		
/*   		background: #1D976C;  fallback for old browsers
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #93F9B9, #1D976C); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
 */
 /* this is relative because we made footer, "absolute" positioned  */
  
 /*  background-color: #FFDEE9;
background-image: linear-gradient(to right, #B5FFFC 100%, #FFDEE9 0%);
   */
  position: relative;
  height: 100%;
 
  		}
  		
  		#CreatorsNavbar
  		{	 
   			 
 			background-image: linear-gradient(to right, #B5FFFC 100%, #FFDEE9 0%);
  
  		}
  		
  
  
  /* footer fragment  */
  
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}



.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
	list-style-type: circle;    
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.tab { margin-left: 2rem; }
  #footer
  {
   /* we need the ancestor above it to be "relative" positioned, so we made "#screatorsHome" relative  */
  		bottom: 0;
 		position: absolute;
  		width:100%;
 		
 html,
 body {
  height: 100%;
  width: 100%;
  
}

  
   
/* 
 Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
	
	 */