 

#typewriter-creator-home {
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
   font-size: 28px;
  color: black;
  margin-left:10px;
}

/* Animation */
#typewriter-creator-home {
  animation: animated-text 2s linear 1s 1 normal both,
             animated-cursor 800ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 770px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}



 