<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Asking...</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    </head>
    <link href="/mystylesheet.css" th:href="@{css/modalpopup.css}"  rel="stylesheet"  type="text/css">
        <link href="/mycss.css" th:href="@{css/typewriter-effect.css}"  rel="stylesheet"  type="text/css"/>
    
  <head th:replace="fragments/header :: headHeader">
 
  </head>
  
<head th:replace="fragments/header :: quillScriptFiles">
</head>
<body>
  
  <div th:replace="fragments/header :: navForViewer">
  
</div>
<div>
<form th:object="${question}">  
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <div class="form-group"> 
 
  <h1 class="pl-2 pb-2 pt-2" id="typewriter">You are Asking...</h1>
   
<br>
 <input required class="form-control border-nashi" type="text" id="title" placeholder="Title" th:field="*{title}">
 </div>
 <div class="form-group "> 

 <input  class="form-control border-nashi" type="text" id="type" placeholder="Type of question: eg. 'grammar' etc"  th:field="*{type}">
 </div>
 
 <!-- the below will work as the data container of field="data" --> 
 
  <div class="form-group">
  <input type="text" style="display:none" class="form-control border-nashi" id="data"th:field="*{data}">
    </div>
      <div class="form-group"> 
  <input  class="form-control border-nashi" type="text" id="Tags" placeholder="Tag someone this question" th:field="*{tags}">
 </div>
  <div id="editor" class="form-group ">
   
</div>
 
<div id="toolbar" class="form-group">
</div>


<div class="form-group">

<button type="button" value="Ask.." class="btn btn-warning " id="submit" data-toggle="modal" data-target="#exampleModalCenter">
Submit

</button>
<br>
<br>
 
</div>
</div>
<div class="col-md-3"></div>
  </div>
  </form>
</div>
 
 
   <div th:replace="fragments/header :: modalstructure">
 </div>
 
   
   <script type="text/javascript" th:src="@{/javascript/QuillContainer.js}"></script>
  
  <script>
 /*  $("#submit").click(function()
		  
  {
	  
	  
 
	  var x=document.getElementById("submit");
	  x.classList.add("spinner-border" ,"spinner-border-sm")
	  var newspan= document.createElement("div");
	  newspan.role="status";
 	  newspan.ariaHidden=true;

	  var newspan2= document.createElement("div");
	  newspan2.classList.add("sr-only");
	  newspan2.innerText="Loading...";
	  
	  x.appendChild(newspan);
	  x.appendChild(newspan2);

 	  
 	  
/*  	  
	  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
	  <span class="sr-only">Loading...</span> */
	  
 
  
 
  
  
  </script>
  
  <script>

  
  
  
  const targetNode = document.getElementById('editor');

 //Options for the observer (which mutations to observe)
 const config = { attributes: true, childList: true, subtree: true };

 //Callback function to execute when mutations are observed
 const callback = function(mutationsList, observer) {
   // Use traditional 'for loops' for IE 11
   for(let mutation of mutationsList) {
 /*       if (mutation.type === 'childList') {
           console.log('A child node has been added or removed.');
           
           
           
       }
       else if (mutation.type === 'attributes') {
           console.log('The ' + mutation.attributeName + ' attribute was modified.');
       } */
       
       
 	  window.delta= quill.getContents();
  	  document.getElementById("data").value=  JSON.stringify(quill.getContents());
  	  
/*    	   document.querySelector("img").style.height="80%";
  	   document.querySelector("img").style.width="80%";  */
  	 // console.log("saved");
       
   }
 };

 //Create an observer instance linked to the callback function
 const observer = new MutationObserver(callback);

 //Start observing the target node for configured mutations
 observer.observe(targetNode, config);
   </script>
   
   
  <script>
 

    $("#submit").click(function(){
  		
    	 
    	if(JSON.stringify(quill.getContents().ops).length<19)
    		{
    		
    		console.log("aa")
    		
    		var modal = document.getElementById("exampleModalCenter");
      		modal.style.display = "block";

    			document.getElementById("modalbody").innerText="Please enter details of your question in the Editor";
    			document.getElementById("modalheader").innerText= "Error";

    			var span = document.getElementsByClassName("close")[0];

    		// When the user clicks on <span> (x), close the modal
    			span.onclick = function() {
    			  modal.style.display = "none";
    			}

    			// When the user clicks anywhere outside of the modal, close it
    			window.onclick = function(event) {
    			  if (event.target == modal) {
    			    modal.style.display = "none";
    			  }
    			}
    		}
    		
    	else{
    	
    	
    	 if(JSON.stringify(quill.getContents().ops).length<4194303)
		{ 
    	
    	
    	
    	var questionResponse={};
  		questionResponse["title"]= $("#title").val();
  		questionResponse["data"] = $("#data").val();
  		questionResponse["type"] = $("#type").val();
  		questionResponse["tags"] = $("#tags").val();
  		questionResponse["userprofilename"] = localStorage.getItem("userprofilename");
    		/* alert(JSON.stringify(questionResponse)); */
  		$.ajax({
  		type : "POST", 
  		contentType : "application/json; charset=UTF-8",
  		url : "ask-question", 
  		data : JSON.stringify(questionResponse),
  		dataType : 'json',	
  		success : function( ) {
  			// Code to display the response.
  			alert("in success");
   		}
  		 
  		})
		
  		console.log("saved");
  		
  		var modal = document.getElementById("exampleModalCenter");
  		modal.style.display = "block";

			document.getElementById("modalbody").innerText="Article submitted successfully, Thank you for your time and effort.";
			document.getElementById("modalheader").innerText= "Information";

			var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
			console.log("--")
		}
    	
    	
    	
    	
    	else
    		{
    		//alert("Your post is too big to be submitted")
    		
    		var modal = document.getElementById("exampleModalCenter");
  		modal.style.display = "block";

			document.getElementById("modalbody").innerText="Question can not be submitted. Your question must be less than 4 Mega Bytes(MB))";
			document.getElementById("modalheader").innerText= "Error";

			var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
    		
    		
    		}
    	}


  	});  
  </script>
  </body>
  </html>