
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Update Existing</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
     
<head th:replace="fragments/header :: headHeader">
	
	
  
</head>
<body>
   <div th:replace="fragments/header :: CreatorsNavbar">
</div>
<div class="container">
<div>
<h3 class="mt-3" id="authoredbyme"></h3>
</div>
<hr>
	<div th:each="content: ${contentData}">
	
	<a th:text="${content.topic}">	</a>
	
  <a type="button" th:href="@{/creators/authored-by-me/edit/{id}(id = ${content.id})}" class="btn btn-link">
    <i class="fas fa-edit"></i>
  
   Edit</a>
 	<hr>
 	</div>
</div>


<script>
if([[${contentData}]]!=="[]")
	{

		//alert("[[${contentData}]]")
 		document.getElementById("authoredbyme").innerText="You have not created any course";

	}
else
	{
	document.getElementById("authoredbyme").innerText="Authored by me";

 
	}
 
</script>
</body>
</html>