
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
     
<head th:replace="fragments/header :: headHeader">
	
	
  
</head>
<body>
   <div th:replace="fragments/header :: CreatorsNavbar">
</div>

Authored by me

	<div th:each="content: ${contentData}">
	
	topic<a th:text="${content.topic}">	</a>
 	description<a  th:text="${content.description}"> </a>
 
	 <a type="button" th:href="@{/creators/authored-by-me/edit/{id}(id = ${content.id})}" class="btn btn success"> Edit</a>
 	<hr>
 	</div>

</body>
</html>