
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Creator Console</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
        <link href="/mycss.css" th:href="@{css/typewriter-creator-home.css}"  rel="stylesheet"  type="text/css"/>
  
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
  <head th:replace="fragments/header :: headHeader">



 
</head>
<body >
  <div th:replace="fragments/header :: CreatorsNavbar">
  </div>
  <div id="CreatorsHome">

  <div class="container p-4	">
 
<p id="typewriter-creator-home">
    <span class="fas fa-quote-left"></span>
   <cite>Share your knowledge. </cite><br>
   <cite>It is a way to achieve immortality.</cite>
   <span class="fas fa-quote-right"></span><br>
   </p>
  
  
   <br>
   <span class="font-weight-light">ーDalai Lama</span>

   <br>
   <br>
  <hr/>
    <br>
  <h4 >What can you do to share your knowledge ?</h4>
  <ul>
  <li class="tab"><a href="/creators/creating">Create a course that you would like to teach</a></li>
  <li class="tab"><a> Promote the courses you create by sharing it with someone who needs it</a></li>
  <li class="tab"><a>The more engagement you have on your courses, the more you Earn </a></li>
  <li class="tab"><a> You can share your valuable knowledge with others </a></li>
    <li class="tab"><a> You can start earning by creating content </a></li>
  
  </ul>  
   </div>
   
     </div>
      <div id="footer" th:replace="fragments/header :: footerBlack">
   </div>
  
  </body>
  