
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    
<head th:replace="fragments/header :: headHeader">

  
</head>
<body>
   <div th:replace="fragments/header :: CreatorsNavbar">
</div>


<div th:if = "${emptyFolder}">
	<div th:text= "${emptyFolder}">
	
	</div>
</div>
<div th:each= "folder : ${dataReceivedFromTopicById}">
 Content Topic -->	<a th:href="@{/creators/authored-by-me/{id}(id = ${folder[1]})}" th:text= "${folder[0]}">
	</a>

 </div>


</body>
</html>