
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    
<head th:replace="fragments/header :: headHeader">

  
</head>
<body>
   <div th:replace="fragments/header :: CreatorsNavbar">
</div>
<div class="container row">
 <div class="col-md 6"> 
 <br>
 
 
    	<a class="btn btn-info ml-3" href="creators/create-folder" >
    	<span style="color:white"  class="fas fa-folder-plus"></span>
    	
 		<span style="color:white" th:text="${folderMessage}"></span>
 			 </a>
 		
 	          <br>
   		
 
<br>
<br>
 <div th:each= "folder : ${folderdata}">
   		<div class="shadow p-4 m-3 border" style="width: auto; margin: 0 auto;">
 		<a th:href="@{/creators/folders/{id}(id = ${folder[0]})}">
		<i class="far fa-folder-open fa-2x"></i> 
 		<br/>
 		<span  th:text= "${folder[0]}"></span>
		
		</a>
		</div>
		<hr/> 
   </div>
       </div>
       
         <div class="col-md 6"> 
         <br>
          <h3 class="btn btn-info"> Move content to folders</h3><br>
       <span class="date">Check the mark, select the folder and click on "move" to move content to folder</span>
         <hr>
   <div>
    <div th:each= "content : ${allContentByUser}">
    		<a th:href="@{/creators/authored-by-me/{id}(id = ${content[1]})}">
    		 
    		<input type="checkbox" th:text="' '+${content[0]}" th:value="${content[1]}" onchange="checkedbox()"/>
    		</a>
   
   </div>
   <br>
      <select id="foldername" style="display:none; max-width:80%">
    <option th:each= "folder : ${folderdata}" th:text="${folder[0]}"  th:value="${folder[0]}" >	
    </select>
    
    <br>
      <input type="submit" class="btn btn-info" value="Move to folder"   id="movetofolder" style="display:none"  data-toggle="modal" data-target="#exampleModalCenter">
   <br>

   </div>
  </div>
     <div th:replace="fragments/header :: modalstructure">
 </div>
  </div>
  
  <script>
  
	 
  function checkedbox ()
  {
	  var isChecked = $("input[type=checkbox]").is(":checked")
	  
      if(isChecked) 
    	  {
    	  
    	 console.log("checked")
    	 document.getElementById("movetofolder").style.display="block";
   	     document.getElementById("foldername").style.display="block";
    	  }
      else
    	  {
     	 console.log("not checked")

     	document.getElementById("movetofolder").style.display="none";
   	     document.getElementById("foldername").style.display="none";

    	  }
  }	 
  
  
  
  
  
  
  var valu;
  $("#movetofolder").click(function(){
			 valu  = Array
	 		.from(document.querySelectorAll('input[type="checkbox"]'))
	  		.filter((checkbox) => checkbox.checked)
	  			.map((checkbox) => checkbox.value);
  			var FolderMoveHelper={};
  			FolderMoveHelper["foldername"] = $("#foldername").val();
  			FolderMoveHelper["idsArray"] = valu;
			console.log(valu +" "+ JSON.stringify(FolderMoveHelper));
		 
 		$.ajax({
			type : "POST", 
			contentType : "application/json; charset=UTF-8",
			url : "creators/folders", 
			data : JSON.stringify(FolderMoveHelper),
			dataType : 'json',	

 		})
 		
 		
 		
 		var modal = document.getElementById("exampleModalCenter");

	    modal.style.display = "block";
		document.getElementById("modalbody").innerText="Content moved to folder";
		document.getElementById("modalheader").innerText= "Success";

		var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";

			location.reload();
		  }
		} 		
		 
 			  
 		
 		
 		
  });

   </script>
  
</body>
</html>