
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>My Folder</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    
<head th:replace="fragments/header :: headHeader">

  
</head>
<body>
   <div th:replace="fragments/header :: CreatorsNavbar">
</div>

<div class="container">
<div th:if = "${emptyFolder}">
	<div th:text= "${emptyFolder}">
	
	</div>
</div>
<div th:each= "folder : ${dataReceivedFromTopicById}">
	<div class="p-2 m-2 shadow-sm" style="max-width:400px">
 <a style="color:blue" th:href="@{/creators/authored-by-me/{id}(id = ${folder[1]})}">
 <i class="far fa-file"></i>
 <span th:text= "${folder[0]}"> </span> 	
	</a>
	
	</div> 
 </div>
</div>

</body>
</html>