<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
  <head th:replace="fragments/header :: headHeader">



 
</head>
<body>
  
<div th:replace="fragments/header :: navForViewer">

</div>

  <h1> Hello Restricted</h1>
<div th:if="${emailverified}" class="alert alert-success">
<h4> Information</h4>
<span th:text="${emailverified}"></span>
</div>



<script>
		
			
			//document.getElementById("userprofilenameHeader").innerText=sessionStorage.getItem("userprofilename"); 
			
			
	
	
	</script>
</body>
</html>
