 
 

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
  <head>
      <head th:replace="fragments/header :: headHeader">
      
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

    <title>Sign up !</title>
    
  </head>
  
  
 
 
 <!-- header till here -->
 
<body class="outerdiv">

 <!-- 
    <div th:replace="fragments/header :: header">
</div> -->
 
 <form action="#" th:action="@{/sign-up}" method="post" th:object="${signUpUser}">
<div class="container p-5">

 
 <h4 th:if="${message}" class="alert alert-success" th:text="${message}"></h4> 
 
 <h2>
 Sign up here
 </h2>
 
 <div class="border border-white shadow-lg mb-5 bg-white p-5 rounded innerdiv"> 
      
    <div class="form-group">
    <label  for="fullname" >Full Name:</label> 
    <input th:field="*{fullname}" class="form-control form-control-sm"  type="text"  placeholder="fullname" name="fullname">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
    </div>
   
   <div class="form-group">
   <label for ="username"> Email:    </label> 
    <input th:field="*{username}" class="form-control form-control-sm" type="text" placeholder="username" name="username">				 
   <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
   </div>
   
   <div class="form-group">
   <label  for="password">Password: </label>
   <input th:field="*{password}" class="form-control form-control-sm" type="Password" placeholder="password"  name="password">			
   <div class="alert alert-danger"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
   <input   type="submit" value="Submit" class="btn btn-success">
      
  	
   </div>
         <a href="/login"  class="btn-link">Already registered? Click here</a> 
   
   </div>
  
   </div>
   </form>


  </body>
</html>