<!doctype html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">  
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <title>Demo</title>
	    <meta name="description" content=""/>
	    <meta name="viewport" content="width=device-width"/>
	    <base href="/"/>
	    
	      <!-- Main Quill library -->
	 
	<!-- Theme included stylesheets -->
	 
 
	  
	<head th:replace="fragments/header :: headHeader">
	</head>
	<head th:replace="fragments/header :: quillScriptFiles">
</head>
 	<body>
	   <div th:replace="fragments/header :: navForViewer">
	</div>

<div class="container mt-5 shadow" style="max-width:600px">
<h3 style="text-align:center" class="p-2">Your profile</h3>
<hr>
<div id="editor" class="form-group " style="max-width:600px">
   
</div>
 
<div id="toolbar" class="form-group">
</div>





<!-- User details related code -->
<div th:object="${user}" style="max-width:500px" >
	
	
<!-- 	 design https://getbootstrap.com/docs/4.3/components/forms/#form-grid
 -->	
 	<span id="userhomepagedata" th:field="*{userhomepagedata}"></span>
 
 		<div class="form-group row">
 		 	 
 		 	 <label for="username" class="col-3 col-form-label border-nashi" > Username</label>
 		 	
    		 <div class="col-7">
 				 <input type="text"  id="username" class="form-control border-nashi" th:field="*{userProfileName}" readonly>
			 </div>
	 
			 
	 		<a class="far fa-edit col-2 col-form-label border-nashi" id="edituserprofilename"></a> 
	 		 
 	   	</div>
	
	 
 		<div class="form-group row">

	 
	   	<label for="name_of_user" class="col-3 col-form-label border-nashi">Name</label>   
	   	
	   	 <div class="col-7">
	   	 <input type="text"  placeholder="Set your Name"  id="name_of_user" class="form-control border-nashi col-xs-8" readonly th:field="*{name}" >
	   	</div>
	   	 <a class="far fa-edit col-2 col-form-label border-nashi " id="editname"></a> 
	   	</div>
 
	   	
 		<div class="form-group row">

	   	
	   		<label for="email" class="col-3 col-form-label border-nashi">Email</label>   
	   			 <div class="col-7">
	   			 <span  id="email" th:field="*{username}" th:text="*{username}" class="form-control border-nashi overflow-auto"></span> 
			</div>
	   	   	<input type="text"   id="emailverified" th:field="*{emailverified}" style="display:none">  	   
	   	    <span id="emailerifiedcheckornot" title="Email verified" class="col-2 col-form-label border-nashi "> </span>    
	  </div>
 
	   	
 	   		<div class="form-group row">
	   	  	   	 
	   	  	   	 <div class="col">
	   	  	   	 
	   	  	 <button class="btn btn-primary form-control col-form-label" id="updateUserInfo" style="max-width:120px;"><i class="fas fa-save"></i><span> &nbsp; </span> Save</button>
	   	    </div>
	   	    <div class="col">
	   	  	   	 
	   	  	 <a href="/" class="btn btn-primary form-control col-form-label" id="viewAsLink" style="max-width:120px;">  <i class="fas fa-eye"></i> <span> &nbsp; </span> View as</a>
	   	    </div>
  	  </div>
  	   
	</div>
	<hr>
	<div style="max-width:600px">

	<div>
	<br>
	<h3> Contribution to the Korenani Community</h3></div>
	
	 	<hr>
	 
	 <div class="border m-3">
	 <h4 class="d-flex justify-content-center"> Questions</h4> 
	  
<!-- 	  <div th:each= "XQuestions : ${XQuestions}">
	  	<a  th:text="${XQuestions.title}" th:href="@{/discuss/{id}(id = ${XQuestions.id})}">  </a>
	  </div> -->
	 
 
	 </div>
	 
	 </div>
	 
 	 <div style="max-width:600px">
	  <div  id="answersdiv" class="border m-3">
	 <h4 class=" d-flex justify-content-center" id="answers" > Answers</h4> 
	 </div>
	 </div>
 	 <div style="max-width:600px">
	  <div class="border m-3">
	 <h4 class="d-flex justify-content-center"> Courses</h4>
	  </div>
	 <br> 
	 
<!-- 	 <a href="/hello" id="hello"> click here</a>
 -->	 
	</div>
	</div>
	<!-- User details related code -->
	 <script>
	
	 $("#hello").click(function(){
		 
			 
		 
	 	});
		

	 


	 
	 
	 
	var emailerified= document.getElementById("emailverified");
	console.log(emailerified.value);
	if(emailerified.value=="true")
		{
		
		console.log("its true");
		var emailerifiedcheckornot= document.getElementById("emailerifiedcheckornot"); 			
		emailerifiedcheckornot.classList.add("fas", "fa-check-circle", "col-xs-2");
		
		emailerifiedcheckornot.style.color="blue";
 
		}
	</script>
	
	<script>
	 $("#edituserprofilename").click(function(){
 
		var username=document.getElementById("username");
		username.readOnly=false;
		username.focus();
		console.log("username readonly false")
 	});
	
		var edituserprofilename=document.getElementById("edituserprofilename");
		edituserprofilename.onmouseover= function()
		{
 			edituserprofilename.style.color="blue";
 			username.style.border="4";
 			edituserprofilename.title="Edit Username";
 			username.style.borderColor="black"
		
 		
		}
	 
		edituserprofilename.onmouseout= function()
		{
 			edituserprofilename.style.color="";
 			username.style.borderColor=""

		}
	
	
	</script>
	
	
	
		<script>
	 $("#editname").click(function(){
 
		var name_of_user=document.getElementById("name_of_user");
		name_of_user.readOnly=false;
		console.log("username readonly false")
		name_of_user.focus();
		name_of_user.style.borderColor="#f2b1ea"

 	});
	
		var editname=document.getElementById("editname");
		editname.onmouseover= function()
		{
			editname.style.color="blue";
 			editname.title="Edit name";
 			name_of_user.style.borderColor="black"

		}
	 
		editname.onmouseout= function()
		{
			editname.style.color="";
			name_of_user.style.borderColor=""

		}
	
	
	</script>
	
	 
	































   <script type="text/javascript" th:src="@{/javascript/QuillContainer.js}">
    </script>
	
	
	<script>
	 	  
		
	
	  const targetNode = document.getElementById('editor');

	 //Options for the observer (which mutations to observe)
	 const config = { attributes: true, childList: true, subtree: true };

	 //Callback function to execute when mutations are observed
	 const callback = function(mutationsList, observer) {
	   // Use traditional 'for loops' for IE 11
	   for(let mutation of mutationsList) {
	 /*       if (mutation.type === 'childList') {
	           console.log('A child node has been added or removed.');
	           
	           
	           
	       }
	       else if (mutation.type === 'attributes') {
	           console.log('The ' + mutation.attributeName + ' attribute was modified.');
	       } */
	       
	       
	 	  window.delta= quill.getContents();
	  	  /* document.getElementById("data").value=  JSON.stringify(quill.getContents()); */
	  	  
	/*    	   document.querySelector("img").style.height="80%";
	  	   document.querySelector("img").style.width="80%";  */
	  	 // console.log("saved");
	       
	   }
	 };

	 //Create an observer instance linked to the callback function
	 const observer = new MutationObserver(callback);

	 //Start observing the target node for configured mutations
	 observer.observe(targetNode, config);
	   quill.theme="bubble";

	   quill.disable();


	</script>
	
	<script>
// when user clicks on edit button then show the quill toolbar and make quill wrtieable, otherwise the toolbar will be hidden and quill will be readonly
	
	
	//getting the quill toolbar by class name because getting by id wont work
	var quillToolbar= document.querySelectorAll('.ql-toolbar,.ql-snow');	
	quillToolbar[0].style.display="none";
	
	
	
	
	
	
	
	
	//create a button which lets edit the homepage, only if the user who is seeeing the page is the user who created it
	var newEditButton=document.createElement("span");
	newEditButton.id="editButton";
	newEditButton.classList.add("far", "fa-edit", "fa-2x");
 

	
	
	document.getElementById("editor").appendChild(document.createElement("br"));

	document.getElementById("editor").appendChild(newEditButton);
 	//make ajax post request to UPDATE  the sign_up table, now the sign up table will contain the userhomepagedata updated;
	
	
	 $("#editButton").click(function(){
 
			/* var name_of_user=document.getElementById("name_of_user");
			name_of_user.readOnly=false;
			console.log("username readonly false")
			name_of_user.focus();
			name_of_user.style.borderColor="#f2b1ea" */
			quill.enable();
			quillToolbar[0].style.display="block";
			quillToolbar[0].style.borderColor="black";
			quillToolbar[0].style.borderBottom="";
			newEditButton.style.display="none";
 			quill.focus();
 			document.getElementById("editor").style.borderColor="black";
 			document.getElementById("editor").style.borderTop="";
 

	 	});
		
			var editButton=document.getElementById("editButton");
			editButton.onmouseover= function()
			{
				editButton.style.color="blue";
				editButton.title="Edit Your Homepage";
				
	 			//name_of_user.style.borderColor="black"

			}
		 
			editButton.onmouseout= function()
			{
				editButton.style.color="";
				//name_of_user.style.borderColor=""

			}
			
			
			//setting the quill to existing data

			quill.setContents(JSON.parse(document.getElementById("userhomepagedata").getAttribute("field")));

	</script>
	
	
	<script>
	
	 
 

	document.getElementById("viewAsLink").href=username.value;

	$("#updateUserInfo").click(function(){
 		    
		var signUpUserDetails = {};
		signUpUserDetails["name"] = $("#name_of_user").val();
		signUpUserDetails["userProfileName"]= $("#username").val();
		signUpUserDetails["username"]= $("#email").text();
		signUpUserDetails["userhomepagedata"]= JSON.stringify(quill.getContents());
  		
		console.log(JSON.stringify(signUpUserDetails));	
		
		console.log("hai made ")
		var username=$("#username").val();
	 		 var request=$.ajax({

		 		type : "POST", 
		 		contentType : "application/json; charset=UTF-8",
		 		url : username+"/update-user-info",
		 		data : JSON.stringify(signUpUserDetails),
 		 		
		 		
		 		});
 
 		 request.done(function( msg ) {
		//alert(msg);
		console.log(msg)
		
		alert("Done, Click on your Username to refresh")
 
		localStorage.setItem("userprofilename", username);
		userprofilenameHeaderSpan.innerText=username;
		userprofilenameHeader.href=username +"/edit";
		//setting the "viewAsLink" to /username
		document.getElementById("viewAsLink").href=username.value;
		
		});
	 
	 
	 request.always(function(msg) {
		 console.log("always "+msg)
		//alert("always")
		});
	 
	  request.fail(function(jqXHR, textStatus) {
		  console.log("failed"+textStatus);
		  alert(jqXHR.responseText);
		});
	 	//    var v= "[[${clapbeforetimeerror}]]";  
	 	    
	 	
	 	
 
	   });
	   
	
	
	</script>
	
	
	
	
	

</body>
</html>
