<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
  <head th:replace="fragments/header :: headHeader">



 
</head>
<body>
  
  <div th:replace="fragments/header :: nav">
</div>

<form action="#" th:action="@{/enter-password}" method="post" th:object="${signUpUser1}">
<div class="border shadow-sm mb-5 bg-white p-5 rounded customsignincontents"> 
   <div class="alert alert-primary">
 <h2> Info</h2>
 <div>
 Login was successful, you can skip this page if you dont want to set a password. however you can set a password for your account in case you want to login using your username and password next time.

 </div>
 </div>
 	<div class="form-group">
    <label>Please enter a password for KoreNani</label>
     <input required type="password" name="password" th:field="*{password}" autofocus class="form-control form-control-sm"  placeholder="Password">
      <input type="submit"  value="Login"  class="btn btn-warning"/>
  
   </div>
 </div>
 </form>
 
 <script type="text/javascript">
          $
              .ajaxSetup({
                beforeSend : function(xhr, settings) {
                  if (settings.type == 'POST' || settings.type == 'PUT'
                      || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                      // Only send the token to relative URLs i.e. locally.
                      xhr.setRequestHeader("X-XSRF-TOKEN",
                          Cookies.get('XSRF-TOKEN'));
                    }
                  }
                }
              });
          
         
          
           
        	  
        	  $.get("/save-password", function(data) {
				
              });
        	  
        
        	  
          	$.get("/user", function(data) {
              $("#user").html(data.name);
              $(".unauthenticated").hide()
              $(".authenticated").show()
          });
          $.get("/restricted", function(data) {

            });
          var logout = function() {
        	    $.post("/logout", function() {
        	        $("#user").html('');
        	        $(".unauthenticated").show();
        	        $(".authenticated").hide();
        	    })
        	    return true;
        	
          }
          function()
          {
          alert("error");
          }
        </script>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</body>
</html>


