<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
  <head th:replace="fragments/header :: headHeader">


<body>
  <div th:replace="fragments/header :: navForViewer">

</div>
  
 

<form action="#" th:action="@{/save-password}" method="post" th:object="${signUpUser1}">
<div class="border shadow-sm mb-5 bg-white p-5 rounded customsignincontents">
 <div th:if="${message}"   class="alert alert-danger"> 
	      <h4 class="alert-heading">Information</h4>
	
	<span th:text="${message}"></span>
	</div>
 
	   <div class="alert alert-primary">
	       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	   
  <h3> Info</h3>
Login was successful, you can skip this page if you dont want to set a password. however you can set a password for your account in case you want to login using your username and password next time.
 
 </div>
                
 <div>

 </div>
	
 	<div class="form-group">
    <label>Please Create a password for KoreNani</label>
     <input required type="password" name="password" th:field="*{password}" autofocus class="form-control form-control-sm" id="password"  placeholder="Password" oninput="myFunction()">
     
          <input required type="text" name="confirm-password" autofocus class="form-control form-control-sm"  placeholder="Confirm password"  id="confirmpassword" oninput="myFunction()">
     
     <br>
             <div class="g-recaptcha" data-sitekey="6Ldn0LIZAAAAANc4U9iZnTvmh1NxsKpXmWZcg3KC"></div>
     
     <br>
      <input type="submit" id="login" value="Set password"  class="btn btn-success"/>
  
   </div>
 </div>
 </form>
 
 <script type="text/javascript">
          $
              .ajaxSetup({
                beforeSend : function(xhr, settings) {
                  if (settings.type == 'POST' || settings.type == 'PUT'
                      || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                      // Only send the token to relative URLs i.e. locally.
                      xhr.setRequestHeader("X-XSRF-TOKEN",
                          Cookies.get('XSRF-TOKEN'));
                    }
                  }
                }
              });
          
         
          
           
        	  
        	  $.get("/save-password", function(data) {
				
              });
        	  
        
        	  
          	$.get("/user", function(data) {
              $("#user").html(data.name);
              $(".unauthenticated").hide()
              $(".authenticated").show()
          });
          $.get("/restricted", function(data) {

            });
          var logout = function() {
        	    $.post("/logout", function() {
        	        $("#user").html('');
        	        $(".unauthenticated").show();
        	        $(".authenticated").hide();
        	    })
        	    return true;
          }
      		  
         	  myFunction= function()
        	    {
         		 var txtsize= document.getElementById("confirmpassword").value.length;
        		  if(txtsize>=6)
        		  {  				
        			  if(document.getElementById("confirmpassword").value===document.getElementById("password").value)			  
        			  {
        				  document.getElementById("confirmpassword").style.border = "thin solid green";
            			  document.getElementById("password").style.border = "thin solid green";
        			  }
        		  
        		  else
        			  {
        			  document.getElementById("confirmpassword").style.border = "thin solid red";
        			  document.getElementById("password").style.border = "thin solid red";
        			  }
        		  }
        	    }
 
        	    
          
        </script>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</body>

